/* footer */
/*background*/
footer {
    margin-top: 100px;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.fhead {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*all the text*/
footer p {
    color: black !important;
}

.tabl0 {
    justify-content: start;
    height: 215px;
}

.tabl1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 215px;
}

.tabl2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tabl2 p {
    margin-bottom: 13px;
}

footer a {
    color: black !important;
    text-decoration: none;
}

#logo {
    height: 60px;
    margin: 0px;
}

footer hr { 
    border: 1px solid black;
}

/* all the links */
#links {
    margin-top: 180px;
    display: flex;
    gap: 25px;
    align-items: end;
}

#endf {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 25px;
}

.linka {
    width: 40px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.linka:hover {
    transform: scale(1.2);    /* Zoom au survol */
}
/* end of footer */
/* end of footer */