body{
	font-family: "Arial", sans-serif;
}

h1{
	color: #0C1421;
	margin:0;
}

p{
	color: #313957;
	font-size: 20px;
	font-weight: 400;
	margin:0;
}

input {
  all: unset;
}


.mb-15{
	margin-bottom:15px;
}
.mt-3{
	margin-top: 3px;
}

.w-full {
	width: 100%;
}

.border-bottom{
	border-bottom: 1px solid #CFDFE2;
}

.align-items-center{
	align-items:center
}
.justify-content-center{
	justify-content:center;
}

.height-1{
	height: 5px;
}
.p1{
	padding: 1em;
}

.bg-white{
	background-color: #FFFFFF;
}

.flex{
	display: flex;
}

.main-container{
	column-gap: 50px;
}

.login-container{
	flex-direction: column;
	justify-content:center;
	row-gap: 10px;
	padding: 150px;
}
.w-50{
	width: 50%;
}

#image{
	width: 100%;
	border-radius: 24px;
}

label{
	font-size: 16px;
	color: #0C1421;
}

#link1{
	display: flex;
	text-decoration: none;
	flex-direction: row-reverse;
	margin: 5px;
	color: #1E4AE9;
}

#checkemail{
	background-color: #F7FBFF;
	border-radius: 12px;
	padding: 10px;
	border:1px solid #D4D7E3;
}

#checkpassword{
	background-color: #F7FBFF;
	border-radius: 12px;
	padding: 10px;
	border:1px solid #D4D7E3;
}

#checkbutton{
	background-color: #162D3A;
	border-radius: 12px;
	border:1px solid #162D3A;
	padding: 16px 16px 16px;
}

#parabutton{
	color: white;
	font-weight: 400;
	font-size: 20px;
}

#googlebutton{
	background-color: #F3F9FA;
	padding: 10px;
	border-radius: 12px;
	border-color: #F3F9FA;
}
#googleparabutton{
	color: #313957;
}

#txtlink1{
	display: flex;
	justify-content: center;
	padding-top: 48px;

}

#link2{
	color: #1E4AE9;
	text-decoration: none;
}

#google-sign-in-button {  
	/* Bouton */
	padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 12px;
	/* Texte */
    color: #313957;
	font-size: 16px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
