body {
	font-family: "Arial", sans-serif;
}

#login-register {
	column-gap: 50px;
}

#login-register #welcome {
	color: #0C1421;
	font-size: 36px;
	font-weight: 600;
	margin:0;
}

#login-register #details {
	color: #313957;
	font-size: 20px;
	font-weight: 400;
	margin:0;
}

#login-register input {
  all: unset;
}

#login-register .mb-15 {
	margin-bottom:15px;
}
#login-register .mt-3 {
	margin-top: 3px;
}
#login-register .gap-1 {
	gap: 1em;
}

#login-register .w-full {
	width: 100%;
}

#login-register .border-bottom {
	border-bottom: 1px solid #CFDFE2;
}

#login-register .align-items-center {
	align-items:center;
}

#login-register .justify-content-center {
	justify-content:center;
}

#login-register .height-1 {
	height: 5px;
}

#login-register .p1 {
	padding: 1em;
}

#login-register .bg-white {
	background-color: #FFFFFF;
}

#login-register .flex {
	display: flex;
}

#login-register .login-container {
	flex-direction: column;
	justify-content:center;
	row-gap: 10px;
	padding: 150px;
}

#login-register .w-50 {
	width: 50%;
}

#login-register #image {
	width: 100%;
	border-radius: 24px;
}

#login-register label {
	font-size: 16px;
	color: #0C1421;
}

#login-register #link1 {
	display: flex;
	text-decoration: none;
	flex-direction: row-reverse;
	margin: 5px;
	color: #1E4AE9;
}

#login-register #checkemail {
	background-color: #F7FBFF;
	border-radius: 12px;
	padding: 10px;
	border:1px solid #D4D7E3;
}

#login-register #checkpassword {
	background-color: #F7FBFF;
	border-radius: 12px;
	padding: 10px;
	border:1px solid #D4D7E3;
}

#login-register #checkbutton {
	background-color: #162D3A;
	border-radius: 12px;
	border:1px solid #162D3A;
	padding: 16px 16px 16px;
}

#login-register #txt-button {
	color: white;
	font-weight: 400;
	font-size: 20px;
}

#login-register #googlebutton {
	background-color: #F3F9FA;
	padding: 10px;
	border-radius: 12px;
	border-color: #F3F9FA;
}

#login-register #googleparabutton {
	color: #313957;
}

#login-register #txtlink1 {
	display: flex;
	justify-content: center;
	padding-top: 48px;
}

#login-register #link2 {
	color: #1E4AE9;
	text-decoration: none;
}

#login-register #google-button {  
	/* Bouton */
	padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 12px;
	/* Texte */
    color: #313957;
	font-size: 16px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
