.img {
    height: 200px;
}

.flex-acc {
	display: flex;
    justify-content: center;
}

.w-5 {
	width: 5%;
}

.details-container {
	flex-direction: column;
	justify-content:center;
	row-gap: 10px;
	padding: 64px;
	margin-top: 100px;
}

.title-acc {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.line-acc {
    height: 0.5px;
    width: 700px;
    
}