.img {
    height: 200px;
}

.flex-acc {
	display: flex;
    justify-content: center;
}


.details-container {
	flex-direction: column;
	justify-content:center;
	row-gap: 10px;
	padding: 64px;
	margin-top: 100px;
}

.fs-35 {
    font-size: 35px;
}

.title-acc {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.line-acc {
    height: 0.5px;
    width: 700px;
    
}

.button {
	background-color: #F7FBFF;
	border-radius: 12px;
	padding: 10px;
	border:1px solid #D4D7E3;
	cursor: pointer;
}

.button:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}