body {
    background-color: #070320;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    padding: 40px 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 70px;
    height: 70px;
    background: #0c0a31;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 10px #000;
    transition: 0.2s ease;
}

.cell:hover {
    transform: scale(1.1);
}

.red {
    background: red;
}

yellow {
    background: yellow;
}

#resetBtn {
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.2s;
}

#resetBtn:hover {
    transform: scale(1.05);
}
